

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
CSS
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
<style>
.audiobook_product_block { background-color: {{ block.settings.background_color | default: 'transparent' }}; border-radius: 20px; border:{{ block.settings.border_width }}px solid {{ block.settings.border_color }} }
.audiobook_product_block .audiobook_properties {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 5px; padding: 10px; margin: 0 auto;}

@media only screen and (min-width: 600px) {
  .audiobook_product_block .audiobook_properties { max-width: 80%; }
}
@media only screen and (min-width: 1000px) {
  .audiobook_product_block .audiobook_properties { max-width: 100%; }
}
.audiobook_product_block div.audiobook_properties .line1 {font-size:110%; margin-bottom: 2px;}
.audiobook_product_block div.audiobook_properties .line2 {font-weight:800; font-size:130%}

.audiobook_product_block div.audiobook_properties div.audiobook_property { text-anchor: middle; text-align: center}
.audiobook_product_block div.audiobook_properties div.audiobook_property .playicon { cursor: pointer;}
.audiobook_product_block div.audiobook_properties div.audiobook_property .minor { font-size: 40%; stroke-width: 0; fill: {{ block.settings.property_color | default: 'rgb(var(--button-background-secondary))'}};}
.audiobook_product_block div.audiobook_properties div.audiobook_property .major { font-size: 100%; stroke-width: 0; fill: {{ block.settings.property_color | default: 'rgb(var(--button-background-secondary))'}}; font-weight: bold;}
.audiobook_product_block div.audiobook_properties div.audiobook_property .major.time { font-size: 90%;}

  {%- comment -%}
    color: {{ block.settings.property_color | default: 'rgb(var(--button-background-secondary))'}}
  {%- endcomment -%}

.audiobook_product_block svg { stroke:{{ block.settings.property_color | default: 'rgb(var(--button-background-secondary))'}}; fill: transparent; border-radius: 50%; max-width: 100px; margin: auto;}
.audiobook_product_block .audiobook_property .playing svg { animation: pulse-animation 2s infinite; }

.audiobook_product_block .audiobook_property .bookpreview svg path.play { fill: {{ block.settings.property_color | default: 'rgb(var(--button-background-secondary))'}};  }
.audiobook_product_block .audiobook_property .bookpreview svg path.pause { fill: {{ block.settings.property_color | default: 'rgb(var(--button-background-secondary))'}};   }


.audiobook_product_block .audiobook_property .bookpreview .pause {display:none}
.audiobook_product_block .audiobook_property .bookpreview.playing .pause {display:block}
.audiobook_product_block .audiobook_property .bookpreview.playing .play {display:none}

{%- comment -%} 
The animation is in the voxblock.css.liquid as it applies in other places too
{%- endcomment -%} 
  

.audiobook_product_block svg .marks { transform: translate(20px, 20px); stroke-width: .5;}
.audiobook_product_block svg .marks > line:nth-child(1)  {transform: rotate(30deg); }
.audiobook_product_block svg .marks > line:nth-child(2)  {transform: rotate(calc(2 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(3)  {transform: rotate(calc(3 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(4)  {transform: rotate(calc(4 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(5)  {transform: rotate(calc(5 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(6)  {transform: rotate(calc(6 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(7)  {transform: rotate(calc(7 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(8)  {transform: rotate(calc(8 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(9)  {transform: rotate(calc(9 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(10) {transform: rotate(calc(10 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(11) {transform: rotate(calc(11 * 30deg));}
.audiobook_product_block svg .marks > line:nth-child(12) {transform: rotate(calc(12 * 30deg));}
</style>

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- liquid
  assign current_variant = product.selected_or_first_available_variant

-%}
<div class="audiobook_product_block larger-text"> 

  {%- assign property_line_major_y = "45%" -%}
  {%- assign property_line_minor_y = "65%" -%}
  {%- assign property_line_minor_dy = "0.25em" -%}

  <div class="grid audiobook_properties">
    <div class="audiobook_property">
      <svg viewBox="0 0 40 40">
        <circle cx="20" cy="20" r="19" />
        <g class="marks">
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
          <line x1="15" y1="0" x2="16" y2="0" />
        </g>
        {%liquid 
          assign part1 = product.metafields.book.duration | split: "." | first
          assign part2 = product.metafields.book.duration | split: "." | last 
          if part1=="0"
            assign part1 = part2
            assign part2 = "min"
          else
            assign part1 = part1 | append:"hr"
            assign part2 = part2 | append:"min"
          endif 
        -%}
        <text class="major time" x="50%" y="{{ property_line_major_y }}" dy="{{ property_line_minor_dy }}">
          {{ part1 }}
        </text>
        <text class="minor" x="50%" y="{{ property_line_minor_y }}" dy="{{ property_line_minor_dy }}">
          {{ part2 }}
        </text>
      </svg>
    </div>
    <div class="audiobook_property">
      <svg viewBox="0 0 40 40">
        <circle cx="20" cy="20" r="19" />
        <text class="major" x="50%" y="{{ property_line_major_y }}" dy="{{ property_line_minor_dy }}">
          {{ product.metafields.book.age_lower }}+
        </text>
        <text class="minor" x="50%" y="{{ property_line_minor_y }}" dy="{{ property_line_minor_dy }}">
          Years
        </text>
      </svg>
    </div>
    <div class="audiobook_property">
      <svg viewBox="0 0 40 40">
        <circle cx="20" cy="20" r="19" />
        <text class="major" x="50%" y="{{ property_line_major_y }}" dy="{{ property_line_minor_dy }}">
          en
        </text>
        <text class="minor" x="50%" y="{{ property_line_minor_y }}" dy="{{ property_line_minor_dy }}">
          English
        </text>
      </svg>
    </div>
    <div class="audiobook_property">
      <div class="playicon bookpreview" data-mp3="{{product.metafields.book.preview | file_url}}">
        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="19"/>
          <path class="pause" d="M 18.641 12.455 L 18.641 27.545 C 18.641 28.138 18.159 28.621 17.566 28.621 L 15.414 28.621 C 14.821 28.621 14.338 28.138 14.338 27.545 L 14.338 12.455 C 14.338 11.862 14.821 11.379 15.414 11.379 L 17.566 11.379 C 18.159 11.379 18.641 11.862 18.641 12.455 Z M 25.834 12.455 L 25.834 27.545 C 25.834 28.138 25.352 28.621 24.759 28.621 L 22.607 28.621 C 22.014 28.621 21.531 28.138 21.531 27.545 L 21.531 12.455 C 21.531 11.862 22.014 11.379 22.607 11.379 L 24.759 11.379 C 25.352 11.379 25.834 11.862 25.834 12.455 Z"/>
          <path class="play" d="M 16.476 27.476 C 16.221 27.628 15.903 27.634 15.648 27.49 C 15.393 27.345 15.234 27.069 15.234 26.772 L 15.234 13.241 C 15.234 12.945 15.393 12.669 15.648 12.524 C 15.903 12.379 16.221 12.379 16.476 12.538 L 27.752 19.303 C 28 19.448 28.152 19.717 28.152 20.007 C 28.152 20.297 28 20.566 27.752 20.71 L 16.476 27.476 Z"/>
        </svg>
      </div>
      
    </div>
  </div>


</div>

