{% if product %}
  <!-- This is a product template -->
  {%- assign handle = product.handle -%}
  {%- assign audiobook_metaobject = shop.metaobjects.audiobook[handle] -%}

{% elsif metaobject %}
   <!-- This is a metaobject template but can be lots of diff types but all should have same handle -->
   {%- assign handle = metaobject.system.handle -%}
   {%- assign audiobook_metaobject = shop.metaobjects.audiobook[handle] -%}
   {%- assign product = audiobook_metaobject.product.value -%}
{% endif %}

{%- assign metafields = product.metafields.book -%}
{%- assign narrators = metafields.narrators.value -%}
{%- assign authors = metafields.authors.value -%}
{%- assign characters = metafields.characters.value -%}
{%- assign title = audiobook_metaobject.product.value.title -%}
{%- assign audiogramme_metaobject = shop.metaobjects.audiogramme[handle] -%}
{%- assign overview_metaobject = shop.metaobjects.overview[handle] -%}
{%- assign review_metaobject = shop.metaobjects.review[handle] -%}

<style>
    .audiobooks-full-details {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .detail-row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    .detail-label {
        font-weight: bold;
        width: 20%; /* Adjust as needed */
    }

    .detail-value {
        width: 80%; /* Adjust as needed */
        text-align: left;
    }

    .audiobooks-full-details div {margin-top: 0px; text-align: left;}
</style>

<div class="audiobooks-full-details">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'narrators' %}
                {% if narrators %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for narrator in narrators %}
                                {% assign link_title = "Audiobook Narrator " | append: narrator.name %}
                                {{ narrator.name | link_to: narrator.system.url, class: 'narrator link', title: link_title }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'authors' %}
                {% if authors %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for author in authors %}
                                {% assign link_title = "Audiobook Author " | append: author.name %}
                                {{ author.name | link_to: author.system.url, class: 'author link', title: link_title }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'characters' %}
                {% if characters %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for character in characters %}
                                {% assign link_title = "Audiobook Character " | append: character.name %}
                                {{ character.name | link_to: character.system.url, class: 'character link', title: link_title }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'publisher' %}
                {% if metafields.publisher.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% assign link_title = "Audiobook Publisher " | append: metafields.publisher.value.name %}
                            {{ metafields.publisher.value.name | link_to: metafields.publisher.value.system.url, class: 'publisher link', title: link_title  }}
                        </div>
                    </div>
                {% endif %}
                
            <!-- Similar blocks for other types like 'print_isbn', 'genre', 'bisac_codes', etc., follow the same pattern -->

            {% when 'genres' %}
                {% if audiobook_metaobject.genres.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for genre in audiobook_metaobject.genres.value %}
                                {{ genre }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'isbn' %}
                {% if product.metafields.facts.isbn.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ product.metafields.facts.isbn.value | metafield_tag }}
                        </div>
                    </div>
                {% endif %}

            {% when 'print_isbn' %}
                {% if audiobook_metaobject.print_isbn.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{audiobook_metaobject.print_isbn.value}}
                        </div>
                    </div>
                {% endif %}

            
            {% when 'bisac_codes' %}
                {% if audiobook_metaobject.bisac_codes.value %}
                    {%- assign bisac_codes = shop.metaobjects.helper.website.bisac_codes.value -%}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for bisac_code in audiobook_metaobject.bisac_codes.value %}
                                {{ bisac_code }} {{bisac_codes[bisac_code].description}}{% unless forloop.last %},<br/> {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'thema_codes' %}
                {% if audiobook_metaobject.thema_codes.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for thema_code in audiobook_metaobject.thema_codes.value %}
                                {{ thema_code }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                    
            {% when 'content_themes' %}
                {% if audiobook_metaobject.content_themes.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for theme in audiobook_metaobject.content_themes.value %}
                                {{ theme }}{% unless forloop.last %}<br/>{% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'content_notes' %}
                {% if audiobook_metaobject.content_notes.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for note in audiobook_metaobject.content_notes.value %}
                                {{ note }}{% unless forloop.last %}<br/>{% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'word_count' %}
                {% if audiobook_metaobject.word_count.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.word_count.value | number_with_delimiter: ',' }} words
                            {% if metafields.duration %}
                                {%- assign word_count =  audiobook_metaobject.word_count.value | times: 1 -%}
                                {%- assign hours =  metafields.duration | split:'.' | first | times: 60 -%}
                                {%- assign mins =  metafields.duration | split:'.' | last | times: 1 -%}
                                {%- assign total =  hours | plus: mins -%}
                                
                                <small>({{ word_count | divided_by: total }} words/minute )</small>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

            {% when 'duration' %}
                {% if metafields.duration %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ metafields.duration | replace: '.',' hours ' | append: ' minutes'}}
                        </div>
                    </div>
                {% endif %}
            
            {% when 'ar_points' %}
                {% if audiobook_metaobject.ar_points.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.ar_points.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'atos_book_level' %}
                {% if audiobook_metaobject.atos_book_level.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.atos_book_level.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'elt' %}
                {% if audiobook_metaobject.elt.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.elt.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'key_stage' %}
                {% if audiobook_metaobject.key_stage.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.key_stage.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'interest_level' %}
                {% if audiobook_metaobject.interest_level.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.interest_level.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'reading_level' %}
                {% if audiobook_metaobject.reading_level.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.reading_level.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'audiogramme' %}
                {% if audiogramme_metaobject %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {%- capture link_text -%}
                                Transcript of {{ audiogramme_metaobject.name }}
                            {%- endcapture -%}
                            {{ link_text | link_to: audiogramme_metaobject.system.url, title: link_text , class: 'audiogramme link'}}
                        </div>
                    </div>
                {% endif %}

            {% when 'overview' %}
                {% if overview_metaobject %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {%- capture link_text -%}
                                What is {{ overview_metaobject.name }} about?
                            {%- endcapture -%}
                            {{ link_text | link_to: overview_metaobject.system.url, title: link_text , class: 'overview link'}}
                        </div>
                    </div>
                {% endif %}

            {% when 'review' %}
                {% if review_metaobject %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {%- capture link_text -%}
                                Read a review of "{{ review_metaobject.name }}".
                            {%- endcapture -%}
                            {{ link_text | link_to: review_metaobject.system.url, title: link_text , class: 'review link'}}
                        </div>
                    </div>
                {% endif %}

             {% when 'preview' %}
                {% if metafields.preview %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            <button type="button" class=" h-stack gap-2 tap-area bookpreview" aria-controls="product-sample" aria-expanded="false" data-mp3="{{metafields.preview | file_url}}">
                                <span class="playpause"></span>
                                <span class="playpause_text"><span class="play">Preview</span><span class="pause">Playing...</span></span>
                                <span class="sr-only">Play audio sample</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% when 'categories' %}
                {% if metafields.categories %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for cat in metafields.categories.value %}
                              {%- assign urlencoded = cat | url_encode | lower -%}
                              {%- assign url =  collections.audiobooks.url | append: '?filter.p.m.book.categories=' | append: urlencoded -%}
                              {% assign link_title = " audiobooks" | prepend: cat %}
                              {{ cat | link_to: url, class: 'book_category link', title: link_title }}{% unless forloop.last %} | {% endunless -%}
                           {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% when 'language' %}
                {% if metafields.language %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ metafields.language }}
                        </div>
                    </div>
                {% endif %}
            {% when 'abridged' %}
                {% if metafields.abridged %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% if metafields.abridged %}Yes{% else %}No{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% when 'fiction' %}
                {% if metafields.fiction %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% if metafields.fiction %}
                                {%- assign url =  collections.audiobooks.url | append: '?filter.p.m.book.fiction=1' -%}
                                {{ 'Fiction' | link_to: url, title: 'Fiction Audiobooks' , class: 'book link' }}
                            {% else %}
                                {%- assign url =  collections.audiobooks.url | append: '?filter.p.m.book.fiction=0' -%}
                                {{ 'Non Fiction' | link_to: url, title: 'Non-Fiction Audiobooks' , class: 'book link' }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% when 'book_page' %}
                <div class="detail-row">
                    <div class="detail-label">{{ block.settings.title }}</div>
                    <div class="detail-value">
                        {{ audiobook_metaobject.title | link_to: audiobook_metaobject.system.url, title: audiobook_metaobject.title , class: 'book link' }}
                    </div>
                </div>
            
        {% endcase %}
    {% endfor %}
</div>






