{% comment %}

OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD 
OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD 
OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD 
OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD 


This has been replaced by reusing the snippet called from the section of same name
It requires a helper json object (see metaobjects Helpers) to recreate the section.blocks object





This is the table of attributes that is show in the audiobook product

This rendered by the section - section/audiobook-bookdata.liquid

Expects product to be passed
metafields var is shorthand for 'product.metafields.book' to give access to metafields on product
Can use Audiobook metaobject saved on the product
{% endcomment %}

{% if product %}
  <!-- This is a product template -->
  {%- assign handle = product.handle -%}
  {%- assign audiobook_metaobject = shop.metaobjects.audiobooks[handle] -%}

{% elsif metaobject %}
   <!-- This is a metaobject template but can be lots of diff types but all should have same handle -->
   {%- assign handle = metaobject.system.handle -%}
   {%- assign audiobook_metaobject = shop.metaobjects.audiobook[handle] -%}
   {%- assign product = audiobook_metaobject.product.value -%}
{% endif %}

{%- assign metafields = product.metafields.book -%}
{%- assign narrators = metafields.narrators.value -%}
{%- assign authors = metafields.authors.value -%}
{%- assign characters = book.characters.value -%}
{%- assign handle = audiobook_metaobject.system.handle -%}
{%- assign title = audiobook_metaobject.product.value.title -%}

   <table class="audiobooks-full-details">
      <tbody>
         <tr>
            <td>Narrator</td>
            <td>
               {% for narrator in narrators %}
                  {{ narrator.name | link_to: narrator.system.url, class: 'narrator link'}}{% unless forloop.last %}, {% endunless -%}
               {% endfor %}
            </td>
         </tr>
         <tr>
            <td>Length</td>
            <td>{{ metafields.duration.value }}</td>
         </tr>
         <tr>
            <td>Author</td>
            <td>
               {% for author in authors %}
                  {{ author.name | link_to: author.system.url, class: 'author link'}}{% unless forloop.last %}, {% endunless -%}
               {% endfor %}
            </td>
         </tr>
         {%- if characters -%}
            <tr>
               <td>Featuring</td>
               <td>
                  {% for character in characters %}
                     {{ character.name | link_to: character.system.url, class: 'character link'}}{% unless forloop.last %}, {% endunless -%}
                  {% endfor %}
               </td>
            </tr>
         {% endif %}
         <tr>
            <td>Publisher</td>
            <td>{{metafields.publisher.value.name | link_to: metafields.publisher.value.system.url }}</td>
         </tr>
         {%- if shop.metaobjects.audiobook_synopsis[handle] -%}
            <tr>
               <td>Synopsis</td>
               <td>
                  What is {{ title | link_to: shop.metaobjects.audiobook_synopsis[handle].system.url, class: 'synop sis link'}} about?


               </td>
            </tr>
         {% endif %}
         <tr>
            <td>Category</td>
            <td>
               {% for cat in metafields.categories.value %}
                  {%- assign urlencoded = cat | url_encode | lower -%}
                  {%- assign url =  collections.audiobooks.url | append: '?filter.p.m.books.categories=' | append: urlencoded -%}
                  {{ cat | link_to: url, class: 'book_category link'}}{% unless forloop.last %} | {% endunless -%}
               {% endfor %}
            </td>
         </tr>
         <tr>
            <td>Release date</td>
            <td>{{ product.published_at | date: "%Y-%m-%d" }}</td>
         </tr>
         <tr>
            <td>Voxblock ISBN</td>
            <td>{{ product.metafields.facts.isbn.value | metafield_tag }}</td>
         </tr>
         {%- if audiobook_metaobject.print_isbn -%}
            <tr>
               <td>Printed Book ISBN</td>
               <td>{{ audiobook_metaobject.print_isbn | metafield_tag }}</td>
            </tr>
         {%- endif -%}
         <tr>
            <td>Abdridged</td>
            {%- assign abridged = metafields.abridged -%}
            <td>{% if abridged %}Yes{% else %}No{% endif %}</td>
         </tr>
         <tr>
            <td>Fiction/Nonfiction</td>
            {%- assign fiction = metafields.fiction -%}
            <td>{% if fiction %}Fiction{% else %}Nonfiction{% endif %}</td>
         </tr>
         <tr>
            <td>Language</td>
            <td>{{ metafields.language | metafield_tag }}</td>
         </tr>

         {%- if audiobook_metaobject.reading_level -%}
            <tr>
               <td>Reading level</td>
               <td>{{ audiobook_metaobject.reading_level | metafield_tag }}</td>
            </tr>
         {%- endif -%}
         {%- if audiobook_metaobject.interest_level -%}
            <tr>
               <td>Interest level</td>
               <td>{{ audiobook_metaobject.interest_level | metafield_tag }}</td>
            </tr>
         {%- endif -%}
         {%- if audiobook_metaobject.key_stage -%}
            <tr>
               <td>Key stage</td>
               <td>{{ audiobook_metaobject.key_stage | metafield_tag }}</td>
            </tr>
         {%- endif -%}
         {%- if audiobook_metaobject.elt -%}
            <tr>
               <td>ELT</td>
               <td>{{ audiobook_metaobject.elt | metafield_tag }}</td>
            </tr>
         {%- endif -%}
         {%- if audiobook_metaobject.interest_level -%}
            <tr>
               <td>ATOS book level</td>
               <td>{{ audiobook_metaobject.atos_book_level | metafield_tag }}</td>
            </tr>
         {%- endif -%}
         {%- if audiobook_metaobject.ar_points -%}
            <tr>
               <td>AR points</td>
               <td>{{ audiobook_metaobject.ar_points | metafield_tag }}</td>
            </tr>
         {%- endif -%}
         {%- if audiobook_metaobject.content_themes -%}
            <tr>
               <td>Content themes</td>
               <td>
                  {% for theme in audiobook_metaobject.content_themes.value %}
                     {{ theme }}{% unless forloop.last %} <br/>{% endunless -%}
                  {% endfor %}

               </td>
            </tr>
         {%- endif -%}
         {%- if audiobook_metaobject.thema_codes -%}
            <tr>
               <td>Thema codes</td>
               <td>
                  {% for code in audiobook_metaobject.thema_codes.value %}
                     {{ code }}{% unless forloop.last %}, {% endunless -%}
                  {% endfor %}
               </td>
            </tr>
         {%- endif -%}
         {%- if audiobook_metaobject.bisac_codes -%}
            <tr>
               <td>BISAC codes</td>
               <td>
                  {% for code in audiobook_metaobject.bisac_codes.value %}
                     {{ code }}{% unless forloop.last %}, {% endunless -%}
                  {% endfor %}
               </td>
            </tr>
         {%- endif -%}
         {%- if audiobook_metaobject.genres -%}
            <tr>
               <td>Genres</td>
               <td>
                  {% for genre in audiobook_metaobject.genres.value %}
                     {{ genre }}{% unless forloop.last %}, {% endunless -%}
                  {% endfor %}
               </td>
            </tr>
         {%- endif -%}
         
      </tbody>
   </table>
</div>