

TODOTODODODODOD
{% if person.name %}
  {%- capture urlFilter -%}
      {{ shop.metaobjects.helpers.landing-pages.filters.value[person.system.type] }}
  {%- endcapture -%}
  {%- capture person-link -%}
    {%- if person.system.url!= blank and person.photo != blank -%}
      {{ person.system.url }}
    {%- elsif person.collection.value.url -%}
      {{ person.collection.value.url }}
    {% else %}
      {%- assign urlencoded = person.name | url_encode -%}
      {%- assign param = '?' | append: urlFilter | append: '=' | append: urlencoded -%}
      {{ collections.audiobooks.url | append: param }}
    {% endif %}
  {%- endcapture %}
  
  {% if link_only %}
    {{ person-link }}
  {% else %}
    <a href="{{ person-link }}" class="{{ classes }}">{{ linkText | default: "Read more" }}</a>
  {% endif %}
{% else %}
      {%- assign urlencoded = person | url_encode -%}
      {%- assign person-link =  collections.audiobooks.url | append: '?' | append: urlFilter | append: '=' | append: urlencoded -%}
    <a href="{{ person-link }}" class="{{ classes }}">{{ linkText | default: "Read more" }}</a>
  
{% endif %}