<style>
.audiobooks-full-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.detail-label {
    font-weight: bold;
    width: 20%; /* Adjust as needed */
}

.detail-value {
    width: 80%; /* Adjust as needed */
    text-align: left;
}

</style>


{% if product %}
  <!-- This is a product template -->
  {%- assign handle = product.handle -%}
  {%- assign audiobook_metaobject = shop.metaobjects.audiobooks[handle] -%}

{% elsif metaobject %}
   <!-- This is a metaobject template but can be lots of diff types but all should have same handle -->
   {%- assign handle = metaobject.system.handle -%}
   {%- assign audiobook_metaobject = shop.metaobjects.audiobook[handle] -%}
   {%- assign product = audiobook_metaobject.product.value -%}
{% endif %}

{%- assign metafields = product.metafields.book -%}
{%- assign narrators = metafields.narrators.value -%}
{%- assign authors = metafields.authors.value -%}
{%- assign characters = metafields.characters.value -%}

{%- assign handle = audiobook_metaobject.system.handle -%}
{%- assign title = audiobook_metaobject.product.value.title -%}

{%- assign audiogramme_metaobject = shop.metaobjects.audiogramme[handle].value -%}
{%- assign synopsis_metaobject = shop.metaobjects.audiobook_synopsis[handle].value -%}


<div {% render 'section-properties', tight: true %}>
    <div class="audiobooks-full-details">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'narrators' %}
                {% if narrators %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for narrator in narrators %}
                                {{ narrator.name | link_to: narrator.system.url, class: 'narrator link'}}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'authors' %}
                {% if authors %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for author in authors %}
                                {{ author.name | link_to: author.system.url, class: 'author link'}}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'characters' %}
                {% if characters %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for character in characters %}
                                {{ character.name | link_to: character.system.url, class: 'character link'}}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'publisher' %}
                {% if metafields.publisher.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ metafields.publisher.value.name | link_to: metafields.publisher.value.system.url, class: 'publisher link' }}
                        </div>
                    </div>
                {% endif %}
                
            <!-- Similar blocks for other types like 'reference_isbn', 'genre', 'bisac_codes', etc., follow the same pattern -->

            {% when 'genre' %}
                {% if audiobook_metaobject.genres.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for genre in audiobook_metaobject.genres.value %}
                                {{ genre }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'reference_isbn' %}
                {% if audiobook_metaobject.reference_isbn.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{audiobook_metaobject.reference_isbn.value}}
                        </div>
                    </div>
                {% endif %}
            
            {% when 'bisac_codes' %}
                {% if audiobook_metaobject.bisac_codes.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for bisac_code in audiobook_metaobject.bisac_codes.value %}
                                {{ bisac_code }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'thema_codes' %}
                {% if audiobook_metaobject.thema_codes.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for thema_code in audiobook_metaobject.thema_codes.value %}
                                {{ thema_code }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                    
            {% when 'content_themes' %}
                {% if audiobook_metaobject.content_themes.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {% for theme in audiobook_metaobject.content_themes.value %}
                                {{ theme }}{% unless forloop.last %}<br/>{% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            {% when 'word_count' %}
                {% if audiobook_metaobject.word_count.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.word_count.value }}
                        </div>
                    </div>
                {% endif %}
            
            {% when 'ar_points' %}
                {% if audiobook_metaobject.ar_points.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.ar_points.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'atos_booklevel' %}
                {% if audiobook_metaobject.atos_booklevel.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.atos_booklevel.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'elt' %}
                {% if audiobook_metaobject.elt.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.elt.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'key_stage' %}
                {% if audiobook_metaobject.key_stage.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.key_stage.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'interest_level' %}
                {% if audiobook_metaobject.interest_level.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.interest_level.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'reading_level' %}
                {% if audiobook_metaobject.reading_level.value %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiobook_metaobject.reading_level.value }}
                        </div>
                    </div>
                {% endif %}

            {% when 'audiogramme' %}
                {% if audiogramme_metaobject %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ audiogramme_metaobject.name | link_to: audiogramme_metaobject.system.url, class: 'audiogramme link'}}
                        </div>
                    </div>
                {% endif %}

            {% when 'synopsis' %}
                {% if synopsis_metaobject %}
                    <div class="detail-row">
                        <div class="detail-label">{{ block.settings.title }}</div>
                        <div class="detail-value">
                            {{ synopsis_metaobject | link_to: synopsis_metaobject.system.url, class: 'synopsis link'}}
                        </div>
                    </div>
                {% endif %}
             

            <!-- Add additional blocks as needed for the other types you've defined in the schema -->
        {% endcase %}
    {% endfor %}
</div>

</div>

{% schema %}
{
    "name": "Audiobook Data",
    "max_blocks": 40,
    "blocks": [
        {
            "type": "audiogramme",
            "name": "Audiogramme",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Audiogramme",
                    "default": "Audiogramme"
                }
            ],
            "limit": 1
        },
        {
            "type": "synopsis",
            "name": "Synopsis",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Synopsis",
                    "default": "Synopsis"
                }
            ],
            "limit": 1
        },
        {
            "type": "narrators",
            "name": "Narrators",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Narrators",
                    "default": "Narrators"
                }
            ],
            "limit": 1
        },
        {
            "type": "authors",
            "name": "Authors",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Authors",
                    "default": "Authors"
                }
            ],
            "limit": 1
        },
        {
            "type": "characters",
            "name": "Characters",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Characters",
                    "default": "Featuring"
                }
            ],
            "limit": 1
        },
        {
            "type": "publisher",
            "name": "Publisher",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Publisher",
                    "default": "Publisher"
                }
            ],
            "limit": 1
        },
        {
            "type": "reference_isbn",
            "name": "Reference ISBN",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Reference ISBN",
                    "default": "Reference ISBN"
                }
            ],
            "limit": 1
        },
        {
            "type": "genres",
            "name": "Genres",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Genre",
                    "default": "Genres"
                }
            ],
            "limit": 1
        },
        {
            "type": "bisac_codes",
            "name": "BISAC Codes",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for BISAC Codes",
                    "default": "BISAC Codes"
                }
            ],
            "limit": 1
        },
        {
            "type": "thema_codes",
            "name": "Thema Codes",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Thema Codes",
                    "default": "Thema Codes"
                }
            ],
            "limit": 1
        },
        {
            "type": "reading_level",
            "name": "Reading Level",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Reading Level",
                    "default": "Reading Level"
                }
            ],
            "limit": 1
        },
        {
            "type": "interest_level",
            "name": "Interest Level",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Interest Level",
                    "default": "Interest Level"
                }
            ],
            "limit": 1
        },
        {
            "type": "key_stage",
            "name": "Key Stage",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Key Stage",
                    "default": "Key Stage"
                }
            ],
            "limit": 1
        },
        {
            "type": "elt",
            "name": "ELT",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for ELT",
                    "default": "ELT"
                }
            ],
            "limit": 1
        },
        {
            "type": "atos_book_level",
            "name": "ATOS Book Level",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for ATOS Book Level",
                    "default": "ATOS Book Level"
                }
            ],
            "limit": 1
        },
        {
            "type": "ar_points",
            "name": "AR Points",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for AR Points",
                    "default": "AR Points"
                }
            ],
            "limit": 1
        },
        {
            "type": "word_count",
            "name": "Word Count",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Word Count",
                    "default": "Word Count"
                }
            ],
            "limit": 1
        },
        {
            "type": "content_themes",
            "name": "Content Themes",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Content Themes",
                    "default": "Content Themes"
                }
            ],
            "limit": 1
        }
    ],
    "presets": [
        {
            "name": "Default Audiobook Data",
            "category": "Custom Content"
        }
    ]
}
{% endschema %}


