{% comment %}
This is the table of attributes that is shown in the audiobook page
There is a similar but different one shown in the audiobook product - snippets/audiobook-productdata.liquid
{% endcomment %}

{%- assign book = metaobject.product.value.metafields.book -%}
{%- assign narrators = book.narrators.value -%}
{%- assign authors = book.authors.value -%}
{%- assign characters = book.characters.value -%}
{%- assign handle = metaobject.system.handle -%}
{%- assign title = metaobject.product.value.title -%}

<div class="section section--tight  section-blends section-full">
   <table class="audiobooks-full-details">
      <tbody>
         <tr>
            <td>Narrator</td>
            <td>
               {% for narrator in narrators %}
                  {{ narrator.name | link_to: narrator.system.url, class: 'narrator'}}{% unless forloop.last %}, {% endunless -%}
               {% endfor %}
            </td>
         </tr>
         <tr>
            <td>Length</td>
            <td>{{ book.duration.value }}</td>
         </tr>
         <tr>
            <td>Author</td>
            <td>
               {% for author in authors %}
                  {{ author.name | link_to: author.system.url, class: 'author'}}{% unless forloop.last %}, {% endunless -%}
               {% endfor %}
            </td>
         </tr>
         {%- if characters -%}
            <tr>
               <td>Featuring</td>
               <td>
                  {% for character in characters %}
                     {{ character.name | link_to: character.system.url, class: 'character'}}{% unless forloop.last %}, {% endunless -%}
                  {% endfor %}
               </td>
            </tr>
         {% endif %}
         {%- if shop.metaobjects.audiobook_synopsis[handle] -%}
            <tr>
               <td>Synopsis</td>
               <td>
                  What is {{ title | link_to: shop.metaobjects.audiobook_synopsis[handle].system.url, class: 'synopsis'}} about?


               </td>
            </tr>
         {% endif %}
         <tr>
            <td>Category</td>
            <td>
               <ul class="top-level-terms">
                  {% for cat in book.categories.value %}
                     {%- assign urlencoded = cat | url_encode | lower -%}
                     {%- assign url =  collections.audiobooks.url | append: '?filter.p.m.books.categories=' | append: urlencoded -%}
                     {{ cat | link_to: url, class: 'book_category'}}{% unless forloop.last %} | {% endunless -%}
                  {% endfor %}
               </ul>
            </td>
         </tr>
         <tr>
            <td>Publisher</td>
            <td>{{book.publisher.value.name | link_to: book.publisher.value.system.url }}</td>
         </tr>
         <tr>
            <td>Release date</td>
            <td>{{ metaobject.product.value.published_at | date: "%Y-%m-%d" }}</td>
         </tr>
         <tr>
            <td>ISBN</td>
            <td>{{ metaobject.product.value.metafields.facts.isbn.value | metafield_tag }}</td>
         </tr>
         <tr>
            <td>Abdridged</td>
            <td>{{ book.abridged | metafield_tag }}</td>
         </tr>
         <tr>
            <td>Language</td>
            <td>{{ book.language | metafield_tag }}</td>
         </tr>
         <tr>
            <td>Product</td>
            <td>{{ metaobject.product.value.title | link_to: metaobject.product.value.url }} {{ metaobject.product.value.price | money }}</td>
         </tr>
         <tr>
            <td>Preview</td>
            <td>

               <button type="button" class=" h-stack gap-2 tap-area bookpreview" aria-controls="product-sample" aria-expanded="false" data-mp3="{{ book.preview | file_url}}">
                 <span class="playpause"></span>
                 <span class="playpause_text"><span class="play">Preview</span><span class="pause">Playing...</span></span>
                 <span class="sr-only">Play audio sample</span>
               </button>

            </td>
         </tr>
      </tbody>
   </table>
</div>

{% schema %}
{
  "name": "Book Data",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    }
  ],
  "presets": [
    {
      "name": "Audiobook Data",
      "settings": {
        "heading": "Book data for an audiobook"
      }
    }
  ]
}

{% endschema %}