<div class="section section--tight  section-blends section-full">
   <table class="audiobooks-full-details">
      <tbody>
         <tr>
            <td>Narrator</td>
            <td>
               {% for narrator in metaobject.narrators.value %}
                  {{ narrator.name | link_to: narrator.system.url, class: 'narrator'}}{% unless forloop.last %}, {% endunless -%}
               {% endfor %}
            </td>
         </tr>
         <tr>
            <td>Length</td>
            <td>{{ metaobject.product.value.metafields.book.duration.value }}</td>
         </tr>
         <tr>
            <td>Author</td>
            <td>
               {% for author in metaobject.authors.value %}
                  {{ author.name | link_to: author.system.url, class: 'author'}}{% unless forloop.last %}, {% endunless -%}
               {% endfor %}
            </td>
         </tr>
         {%- if metaobject.characters.value -%}
            <tr>
               <td>Featuring</td>
               <td>
                  {% for character in metaobject.characters.value %}
                     {{ character.name | link_to: character.system.url, class: 'character'}}{% unless forloop.last %}, {% endunless -%}
                  {% endfor %}
               </td>
            </tr>
         {% endif %}
         <tr>
            <td>Category</td>
            <td>
               <ul class="top-level-terms">
                  {% for cat in metaobject.product.value.metafields.book.categories.value %}
                     {%- assign urlencoded = cat | url_encode | lower -%}
                     {%- assign url =  collections.audiobooks.url | append: '?filter.p.m.books.categories=' | append: urlencoded -%}
                     {{ cat | link_to: url, class: 'book_category'}}{% unless forloop.last %} | {% endunless -%}
                  {% endfor %}
               </ul>
            </td>
         </tr>
         <tr>
            <td>Publisher</td>
            <td>{{metaobject.publisher.value.name | link_to: metaobject.publisher.system.url }}</td>
         </tr>
         <tr>
            <td>Release date</td>
            <td>{{ metaobject.product.value.metafields.facts.isbn.value | metafield_tag }}</td>
         </tr>
         <tr>
            <td>ISBN</td>
            <td>{{ metaobject.product.value.metafields.facts.isbn.value | metafield_tag }}</td>
         </tr>
         <tr>
            <td>Abdridged</td>
            <td>{{ metaobject.product.value.metafields.book.abridged | metafield_tag }}</td>
         </tr>
         <tr>
            <td>Language</td>
            <td>{{ metaobject.product.value.metafields.book.language | metafield_tag }}</td>
         </tr>
         <tr>
            <td>Preview</td>
            <td>{{ metaobject.product.value.metafields.book.preview | metafield_tag }}</td>
         </tr>
      </tbody>
   </table>
</div>

{% schema %}
{
  "name": "Book Data",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    }
  ],
  "presets": [
    {
      "name": "Book Data",
      "settings": {
        "heading": "Book data for an audiobook"
      }
    }
  ]
}

{% endschema %}