<div class="section section--tight  section-blends section-full">
   <table class="audiobooks-full-details">
      <tbody>
         <tr>
            <td>Narrator</td>
            <td>
               {% for narrator in metaobject.narrators.value %}
                  {{ narrator.name | link_to: author.collection.value.url, class: 'narrator'}}
               {% endfor %}
            </td>
         </tr>
         <tr>
            <td>Length</td>
            <td>{{ metaobject.product.value.metafields.book.duration.value }}</td>
         </tr>
         <tr>
            <td>Author</td>
            <td>
               {% for author in metaobject.authors.value %}
                  {{ author.name | link_to: author.collection.value.url, class: 'author'}}
               {% endfor %}
            </td>
         </tr>
         <tr>
            <td>Category</td>
            <td>
               <ul class="top-level-terms">
                  {% for cat in metaobject.product.value.metafields.book.categories.value %}
                     {%- assign urlencoded = cat | url_encode | lower -%}
                     {%- assign url =  collections.audiobooks.url | append: '?filter.p.m.books.categories=' | append: urlencoded -%}
                     {{ cat | link_to: url, class: 'book_category'}}
                  {% endfor %}
               </ul>
            </td>
         </tr>
         <tr>
            <td>Publisher</td>
            <td>{{metaobject.publisher.value.name}}</td>
         </tr>
         <tr>
            <td>Release date</td>
            <td>March 26, 2024</td>
         </tr>
         <tr>
            <td>ISBN</td>
            <td>{{ metaobject.product.value.metafields.facts.isbn.value }}</td>
         </tr>
      </tbody>
   </table>
</div>

{% schema %}
{
  "name": "Book Data",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    }
  ],
  "presets": [
    {
      "name": "Book Data",
      "settings": {
        "heading": "Book data for an audiobook"
      }
    }
  ]
}

{% endschema %}