<style>
  .breadcrumbs {
    margin: 0 0 2em;
  }

  .breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumbs__item {
    display: inline-block;
  }

  .breadcrumbs__item:not(:last-child):after {
    border-style: solid;
    border-width: .10em .10em 0 0;
    content: '';
    display: inline-block;
    height: .20em;
    margin: 0 .20em;
    position: relative;
    transform: rotate(45deg);
    vertical-align: middle;
    width: .20em;
  }

  .breadcrumbs__link {
    text-decoration: underline;
  }

  .breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }

  .breadcrumbs__link[aria-current="page"]:hover,
  .breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
  }
</style>

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
{%- assign t = template | split: '.' | first -%}
{%- assign t = t | split: '/' | first -%}
{%- assign mo = t | split: '/' | last -%}
{{template}}++{{template.name}}++{{template.suffix}}== {{t}}/{{mo}}__{{page.title}}
  {% liquid

    assign sep = "+,+"
    assign sep1 = "-,-"
    assign crumbs = shop.secure_url | append:sep | append: "Home"
    assign template_name = template.name
    
    comment
      url                                     template                    name        suffix 
      /pages/audiobook-publishers             page.metaobjects-publishers page        metaobjects-publishers
      /pages/audiobooks                       page.metaobjects-audiobooks page        metaobjects-audiobooks
      /pages/publisher/alison-larkin-presents metaobject/publisher        publisher   ""
      /pages/audiobook/get-me-out-of-here     metaobject/audiobook        audiobook   ""
    endcomment
    
    if template_name == 'product' and template.suffix == 'audiobook-product'
      assign crumbs = crumbs | append: sep1 | append: collections['audiobooks'].url | append: sep | append: product.type
      assign crumbs = crumbs | append: sep1 | append: product.url | append: sep | append: product.title
    
    elsif template_name == 'product' 
      assign crumbs = crumbs | append: sep1 | append: product.collections.first.url | append: sep | append: product.type
      assign crumbs = crumbs | append: sep1 | append: product.url | append: sep | append: product.title
  
    elsif template_name == 'narrator'
      assign crumbs = crumbs | append: sep1 | append: pages['audiobook-narrators'].url | append: sep | append: pages['audiobook-narrators'].title
      assign crumbs = crumbs | append: sep1 | append: canonical_url | append: sep | append: page_title

    elsif template_name == 'author'
      assign crumbs = crumbs | append: sep1 | append: pages['audiobook-authors'].url | append: sep | append: pages['audiobook-authors'].title
      assign crumbs = crumbs | append: sep1 | append: canonical_url | append: sep | append: page_title

    elsif template_name == 'character'
      assign crumbs = crumbs | append: sep1 | append: pages['audiobook-characters'].url | append: sep | append: pages['audiobook-characters'].title
      assign crumbs = crumbs | append: sep1 | append: canonical_url | append: sep | append: page_title

    elsif template_name == 'collection' and collection.handle
  
      if template.suffix == 'publisher-collection'
        assign crumbs = crumbs | append: sep1 | append: pages['audiobook-publishers'].url | append: sep | append: pages['audiobook-publishers'].title
        assign crumbs = crumbs | append: sep1 | append: page.url | append: sep | append: collection.title
  
      elsif template.suffix == 'author-collection'
        assign crumbs = crumbs | append: sep1 | append: pages['audiobook-authors'].url | append: sep | append: pages['audiobook-authors'].title
        assign crumbs = crumbs | append: sep1 | append: page.url | append: sep | append: collection.title

    
      elsif template.suffix == 'narrator-collection'
        assign crumbs = crumbs | append: sep1 | append: shop.url | append: pages['audiobook-narrators'].url | append: sep | append: pages['audiobook-narrators'].title
        assign crumbs = crumbs | append: sep1 | append: page.url | append: sep | append: collection.title

      else
        assign crumbs = crumbs | append: sep1 | append: collection.url | append: sep | append: collection.title
      endif
    elsif template_name == 'article'
      assign crumbs = crumbs | append: sep1 | append: blogs['news'].url | append: sep | append: blogs['news'].title
      assign crumbs = crumbs | append: sep1 | append: canonical_url | append: sep | append: page_title
    
    elsif template_name == 'search'
      assign crumbs = crumbs | append: sep1 | append: canonical_url | append: sep | append: page_title | replace: '*', ''
    
    else
      assign crumbs = crumbs | append: sep1 | append: canonical_url | append: sep | append: page_title | replace: '*', ''
    endif 
    
    
  assign crumb_list = crumbs | split:sep1
  %}  
     

<div class="section section--tight  section-blends section-full">
  <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumbs__list">
      {%- for crumb_pair in crumb_list -%}
        <li class="breadcrumbs__item">
        {%- assign crumb = crumb_pair | split:sep -%}
        {% if forloop.last %}
          {{ crumb[1] }}
        {% else %}
          <a href="{{ crumb[0] }}"{% if forloop.last %} aria-current="page"{% endif %}class="breadcrumbs__link">{{ crumb[1] }}</a>
        {% endif %}
        </li>
      {%- endfor -%}
    </ol>
  </nav>
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{%- for crumb in crumb_list -%}{%- assign c = crumb | split:sep -%}

    {%- assign link = c[0] -%}
    {%- unless link contains 'voxblock.co.uk' -%}
      {%- assign link = link | prepend:'https://voxblock.co.uk' -%}
    {%- endunless -%}
    {
      "@type": "ListItem",
      "position": {{ forloop.index }},
      "name": "{{ c[1] }}",
      "item": "{{ link }}"
    }{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}]
}
</script>
{%- endunless -%}




{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
{%- assign t = template | split: '.' | first -%}
{%- assign t = t | split: '/' | first -%}
{%- assign mo = t | split: '/' | last -%}

<div class="section section--tight  section-blends section-full">
  <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="/">Home</a>
      </li>
      {%- case t -%}
        {%- when 'page' -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
          </li>
        {%- when 'product' -%}
          {%- if collection.url -%}
            <li class="breadcrumbs__item">
              {{ collection.title | link_to: collection.url }}
            </li>
          {%- endif -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
          </li>
        {%- when 'collection' and collection.handle -%}
          {%- if current_tags -%}
            <li class="breadcrumbs__item">
              {{ collection.title | link_to: collection.url }}
            </li>
            <li class="breadcrumbs__item">
              {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
              <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
            </li>
          {%- endif -%}
        {%- when 'blog' -%}
          {%- if current_tags -%}
            <li class="breadcrumbs__item">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="breadcrumbs__item">
              {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
              <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
            </li>
          {%- endif -%}
        {%- when 'article' -%}
          <li class="breadcrumbs__item">
            {{ blog.title | link_to: blog.url }}
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
          </li>
        {%- when 'metaobject' -%}
          <li class="breadcrumbs__item"> 
            {% comment%}NOTE: requires the page handle be of the form "audiobook-[objecttype-pluralised]" {%endcomment%}
            {% case metaobject.system.type %}
              {% when 'audiobook' %}
                {% assign list_page = 'audiobooks-1' %}
              {% else %}
                {% assign list_page = 'audiobook-'| append: metaobject.system.type | append: 's' %}
            {% endcase %}
            
            {% assign page = pages[list_page] %}
            {{page.title | link_to: page.url}}
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ metaobject.url }}" aria-current="page">{{ metaobject.name | default: metaobject.title  }}</a>
          </li>

        {%- else -%}
          <li class="breadcrumbs__item">here
            <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
          </li>
      {%- endcase -%}
    </ol>
  </nav>
</div>
{%- endunless -%}

{% schema %}
{
  "name": "Breadcrumb list",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    }
  ],
  "presets": [
    {
      "name": "Breadcrumbs",
      "settings": {
        "heading": "Breadcrumbs"
      }
    }
  ]
}

{% endschema %}