{%- render 'section-spacing-collapsing' -%}
<style>
  .breadcrumbs {
    margin: 0 0 2em;
  }

  .breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumbs__item {
    display: inline-block;
  }

  .breadcrumbs__item:not(:last-child):after {
    border-style: solid;
    border-width: .10em .10em 0 0;
    content: '';
    display: inline-block;
    height: .20em;
    margin: 0 .20em;
    position: relative;
    transform: rotate(45deg);
    vertical-align: middle;
    width: .20em;
  }

  .breadcrumbs__link {
    text-decoration: underline;
  }

  .breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }

  .breadcrumbs__link[aria-current="page"]:hover,
  .breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
  }
</style>
{%- assign title = page.metafields.global.title_tag | default: page.title -%}


{%- assign metaobject_type = metaobject.system.type -%}
{%- assign metaobject_type_plural = metaobject_type | append: 's' -%}

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
{%- assign page_type = template | split: '.' | first -%}
{%- assign page_subtype = template | split: '.' | last -%}
{%- if page_type contains '/' -%}
  {%- assign page_subtype = page_type | split: '/' | last -%}
  {%- assign page_type = page_type | split: '/' | first -%}
{%- endif -%}

{%- liquid 
  comment
{{page_type}}__{{page_subtype}}__{{metaobject_type}}
page__metaobjects-audiobooks__
page__metaobjects-authors__
page__metaobjects-narrators__

metaobject__audiobook__audiobook


    url                                     template                      name        suffix 
    /pages/audiobook-publishers             page.metaobjects-publishers   page        metaobjects-publishers
    /pages/audiobook                        page.metaobjects-audiobooks   page        metaobjects-audiobooks
    /pages/audiogramme                      page.metaobjects-audiogrammes page        metaobjects-audiogrammes
    /pages/publisher/alison-larkin-presents metaobject/publisher          publisher   ""
    /pages/audiobook/get-me-out-of-here     metaobject/audiobook          audiobook   ""
  endcomment

  assign sep = "+,+"
  assign sep1 = "-,-"
  assign crumbs = shop.secure_url | append:sep | append: "Home"

  assign crumbs = crumbs | append: sep1 | append: pages["audiobook-library"].url | append: sep | append: "Our content"

  
  case page_type
    when 'page' 

      unless page_subtype contains 'metaobjects-'
        case metaobject_type
          when 'audiobook'
            assign list_page = 'audiobooks'
          when 'audiogramme'
            assign list_page = 'audiogrammes'
          when 'series'
            assign list_page = 'audiobook-series'
          else
            assign list_page = 'audiobook-'| append: metaobject.system.type | append: 's'
        endcase
        assign parent_page = pages[list_page] 
        assign crumbs = crumbs | append: sep1 | append: parent_page.url | append: sep | append: parent_page.metafields.global.title_tag
      endunless 

      assign crumbs = crumbs | append: sep1 | append: page.url | append: sep | append: title
    
    when 'product' 
      if collection.url 
        assign crumbs = crumbs | append: sep1 | append: collection.url | append: sep | append: collection.title
      endif 
      assign crumbs = crumbs | append: sep1 | append: product.url | append: sep | append: product.title
    
    when 'collection'
      assign crumbs = crumbs | append: sep1 | append: collections['audiobooks'].url | append: sep | append: collections['audiobooks'].title
      assign crumbs = crumbs | append: sep1 | append: collection.url | append: sep | append: collection.title

    when 'blog' 
      assign crumbs = crumbs | append: sep1 | append: blog.url | append: sep | append: blog.title

    when 'article' 
      assign crumbs = crumbs | append: sep1 | append: article.url | append: sep | append: article.title

    when 'metaobject' 
      
        comment NOTE: requires the parent page handle be of the form "audiobook-[objecttype-pluralised]" 
        endcomment 
        case metaobject_type
          when 'audiobook'
            assign list_page = 'audiobooks'
          when 'audiogramme'
            assign list_page = 'audiogrammes'
          when 'series'
            assign list_page = 'audiobook-series'
          when 'overview'
            assign list_page = 'overviews'
          else
            assign list_page = 'audiobook-'| append: page_subtype | append: 's'
        endcase
        
        assign parent_page = pages[list_page] 
        assign crumbs = crumbs | append: sep1 | append: parent_page.url | append: sep | append: parent_page.metafields.global.title_tag
      
      assign title = metaobject.title | default : metaobject.name 
      assign crumbs = crumbs | append: sep1 | append: metaobject.system.url | append: sep | append: title

    else 
      assign crumbs = crumbs | append: sep1 | append: request.path | append: sep | append: page_title
  endcase 

  assign crumb_list = crumbs | split:sep1

  %}
<div {% render 'section-properties', tight: true, extra_style_attributes: '' %}>     
  <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumbs__list">
      {%- for crumb_pair in crumb_list -%}
        <li class="breadcrumbs__item">
        {%- assign crumb = crumb_pair | split:sep -%}
        {% if forloop.last %}
          {{ crumb[1] }}
        {% else %}
          <a href="{{ crumb[0] }}"{% if forloop.last %} aria-current="page"{% endif %}class="breadcrumbs__link">{{ crumb[1] }}</a>
        {% endif %}
        </li>
      {%- endfor -%}
    </ol>
  </nav>
</div>


<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{%- for crumb in crumb_list -%}{%- assign c = crumb | split:sep -%}

    {%- assign link = c[0] -%}
    {%- unless link contains 'voxblock.co.uk' -%}
      {%- assign link = link | prepend:'https://voxblock.co.uk' -%}
    {%- endunless -%}
    {
      "@type": "ListItem",
      "position": {{ forloop.index }},
      "name": "{{ c[1] }}",
      "item": "{{ link }}"
    }{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}]
}
</script>
{%- endunless -%}



{% schema %}
{
  "name": "Breadcrumb list",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    }
  ],
  "presets": [
    {
      "name": "Breadcrumbs",
      "settings": {
        "heading": "Breadcrumbs"
      }
    }
  ]
}

{% endschema %}