{%- comment -%}
This is a copy of faq.liquid with some minor changes to check for presence of dynamic field
which allows showing/hiding of FAQs that dont have book data to go with it

boils down to
"block.settings.check_for !=blank"

{%- endcomment -%}

{%- render 'section-spacing-collapsing' -%}

{% assign product = all_products[metaobject.system.handle] %}

{%- assign text_position = section.settings.text_position -%}

<style>
  #shopify-section-{{ section.id }} {
    --section-stack-intro: {% if text_position == 'center' %}60%{% else %}50%{% endif %};
    --section-stack-main: {% if text_position == 'center' %}60%{% else %}50%{% endif %};
  }
</style>

<div {% render 'section-properties' %}>

  <div class="section-stack {% if text_position != 'center' %}section-stack--horizontal{% else %}section-stack--center{% endif %} {% if text_position == 'end' %}section-stack--reverse{% endif %}">
    {%- capture content -%}
      {%- if section.settings.subheading != blank -%}
        <p class="subheading">{{ section.settings.subheading | escape }}</p>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
        <h2 class="h2">
          {%- render 'styled-text', content: section.settings.title, text_color: section.settings.heading_color, gradient: section.settings.heading_gradient -%}
        </h2>
      {%- endif -%}

      {{- section.settings.content -}}
    {%- endcapture -%}

    {%- capture subcontent -%}
      <div class="faq-availability">
        {%- if section.settings.book_image != blank or section.settings.extra_info != blank or section.settings.extra_info_2 != blank -%}
          <div class="v-stack gap-4">
            {%- if section.settings.book_image != blank -%}
              {%- capture sizes -%}{{ section.settings.book_image_width }}px{%- endcapture -%}
              {%- capture widths -%}{{ section.settings.book_image_width }}, {{ section.settings.book_image_width | times: 2 }}{%- endcapture -%}
              {%- capture style -%}max-width: {{ section.settings.book_image_width }}px{%- endcapture -%}
              {{- product | image_url: width: section.settings.book_image.width | image_tag: loading: 'lazy', style: style, sizes: sizes, widths: widths -}}
            {%- endif -%}
            {%- if section.settings.extra_info != blank or section.settings.extra_info_2 != blank -%}
              <div class="v-stack">
                {{- section.settings.extra_info -}}

                {%- if section.settings.extra_info_2 != blank -%}
                  <span class="text-subdued">{{ section.settings.extra_info_2 }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if section.settings.button_text != blank -%}
          {% render 'button', content: section.settings.button_text, href: section.settings.button_url, size: 'xl', background: section.settings.button_background, text_color: section.settings.button_text_color %}
        {%- endif -%}
      </div>
    {%- endcapture -%}

    {%- if content != blank or subcontent != blank -%}
      <div class="section-stack__intro">
        <div class="v-stack gap-10">
          {%- if content != blank -%}
            <div class="prose {% if text_position == 'center' %}text-center{% endif %}">
              {{- content -}}
            </div>
          {%- endif -%}

          {%- if text_position != 'center' and subcontent != blank -%}
            <div class="hidden lg:block">
              {{- subcontent -}}
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class="section-stack__main" >
        <div {% render 'surface', class: 'accordion-box rounded', background: section.settings.accordion_background, text_color: section.settings.accordion_text_color, background_fallback: 'bg-secondary' %}>
          {%- for block in section.blocks -%}
            {%- unless block.settings.check_for_text == blank and block.settings.check_for_richtext == blank -%}
            
              {%- capture accordion_content -%}
                <div class="prose">{{ block.settings.content }}</div>
              {%- endcapture -%}

              {%- render 'accordion', title: block.settings.title, content: accordion_content, block: block -%}
            {%- endunless -%}  
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    <div {% if text_position != 'center' %}class="lg:hidden"{% endif %}>
      {{- subcontent -}}
    </div>
  </div>
</div>

{%- comment -%}On the FAQ page, we also output the content with JSON microdata for SEO{%- endcomment -%}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {%- for block in section.blocks -%}
        {
          "@type": "Question",
          "name": {{ block.settings.title | json }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ block.settings.content | json }}
          }
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "Book FAQ",
  "class": "shopify-section--faq",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "text",
          "id": "check_for_text",
          "label": "Check for"
        },
        {
          "type": "richtext",
          "id": "check_for_richtext",
          "label": "Check for"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Answer",
          "default": "<p>Write content to answer to common questions your customers may have about your products, shipping policies..</p>"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "Structured data is automatically created on FAQ page to improve SEO. [Learn more](https://developers.google.com/search/docs/advanced/structured-data/faqpage)"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "paragraph",
      "content": "One of the following is required to show the FAQ item. If no dynamic data is being used, just use 'Title' as the value below (all audiobook object have a title)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Use this text to share information about your product or shipping policies.</p>"
    },
    {
      "type": "checkbox",
      "id": "book_image",
      "label": "Show Book Image"
    },
    {
      "type": "range",
      "id": "book_image_width",
      "min": 50,
      "max": 350,
      "step": 10,
      "unit": "px",
      "label": "Book image width",
      "default": 160
    },
    {
      "type": "text",
      "id": "extra_info",
      "label": "Extra information",
      "default": "Ask us more questions via email"
    },
    {
      "type": "text",
      "id": "extra_info_2",
      "label": "More info",
      "default": "More info"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text"
    },
    {
      "type": "color",
      "id": "accordion_background",
      "label": "Accordion background"
    },
    {
      "type": "color",
      "id": "accordion_text_color",
      "label": "Accordion text"
    }
  ],
  "presets": [
    {
      "name": "Book FAQ",
      "blocks": []
    }
  ]
}
{% endschema %}
