{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}


  <style>
    #shopify-section-{{ section.id }} {
      {%- if section.settings.allow_transparent_header -%}
        margin-block-start: calc(-1 * var(--header-height) * var(--section-is-first));
      {%- endif -%}
      --rich-text-max-width: {% if section.settings.content_width == 'small' %}650px{% elsif section.settings.content_width == 'medium' %}780px{% else %}100%{% endif %}
    }

    .person-image { display: flex; justify-content: center; align-items: center; margin: auto;}
    .person-image img { width: 100%; height: auto; object-fit: cover;}

  </style>

  {%- capture section_content -%}
    <div class="prose {%- if section.settings.text_position == 'center' -%}justify-items-center text-center"{%- endif -%}>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image' -%}
            <div class="person-image" style="border-radius: {{block.settings.radius}}%; height:{{block.settings.max_width}}px; width: {{block.settings.max_width}}px; overflow:hidden;">
            {% if metaobject.photos.value != blank %}
              {{ metaobject.photos.value | first | image_url: width: block.settings.max_width | image_tag: alt: object.title.value | escape }}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder' }}
            {% endif %}
            </div>

          {%- when 'heading' -%}
            <h1 class="{{block.settings.heading_tag}}">{{block.settings.text}} </h1>

          {%- when 'subheading' -%}
            <h2 class="{{block.settings.subheading_tag}}">{{block.settings.text}} </h2>

          {%- when 'description' -%}
            {{block.settings.description}}
        {%- endcase -%}

      {%- endfor -%}
    </div>
  {%- endcapture -%}
  {%- capture class -%}person-header content-over-media content-over-media--auto {% if section.settings.full_width %}full-bleed{% else %}shadow-block rounded-lg{% endif %}{%- endcapture -%}

  <div {% render 'section-properties' %} {%- if section.settings.allow_transparent_header -%}allow-transparent-header{% endif %} >
    <div {% render 'surface', class: class %}>
      {{- section_content -}}
    </div>
  </div>

{%- endif -%}

{% schema %}
{
  "name": "Person Header",
  "class": "shopify-section--person-header",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "Allow transparent header",
      "info": "This setting only applies when this section is the first one.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image",
      "info": "IMPORTANT: this needs to be optimsed in size and weight as used on all screens.",
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "description",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Content",
          "default": "<p>Description</p>"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "My Heading"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Style",
          "options": [
            {
              "value": "h1",
              "label": "X-Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h5",
              "label": "X-Small"
            },
            {
              "value": "h6",
              "label": "XX-Small"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "My Sub Heading"
        },
        {
          "type": "select",
          "id": "subheading_tag",
          "label": "Style",
          "options": [
            {
              "value": "h1",
              "label": "X-Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h5",
              "label": "X-Small"
            },
            {
              "value": "h6",
              "label": "XX-Small"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [          
        {
          "type": "range",
          "id": "max_width",
          "min": 100,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Maximum width",
          "default": 200
        },
        {
          "type": "range",
          "id": "radius",
          "min": 0,
          "max": 50,
          "step": 10,
          "unit": "%",
          "label": "Image radius",
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Person Header",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}