<style>
  .object-list {
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
  }
  .object-item {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertical alignment */
    margin-bottom: 10px; /* Adds space between items */
  }
  .object-image {
    flex: 0 0 auto; /* Image does not grow or shrink */
    width: 50px; /* Set width to 50px */
    height: 50px; /* Set height to 50px */
    margin-right: 10px; /* Adds space between the image and text */
    overflow: hidden; /* Ensures the image does not bleed outside the container */
    display: flex; /* Ensures proper alignment */
    align-items: center; /* Centers the image vertically */
    justify-content: center; /* Centers the image horizontally */
    border-radius: 50%;
  }

  .object-image img, .object-image svg {
    width: 100%; /* Ensure the image covers the full width */
    height: 100%; /* Ensure the image covers the full height */
    object-fit: cover; /* Crop to cover the area */
  }

  .object-text {
    flex: 1; /* Takes up the rest of the space */
    display: flex;
    flex-direction: column; /* Stacks the title and author/narrator info vertically */
  }
  .object-title, .object-authors-narrators {
    flex: 1; /* Each text section takes equal vertical space */
  }
  .object-authors-narrators {
    font-size: 80%;
  }
  .review {
    font-size: 80%;
  }
  .object-authors-narrators a{
    font-weight: bold;
  }
</style>



<div class="container">
  <div class="page">
    <div class="metaobjects index-list collection">

      {% assign object_type = section.settings.object_type %}
      {% assign audiobooks = null | sort %}
      {% assign narrators = null | sort %}
      {% assign audiogrammes = null | sort %}
      {% assign series = null | sort %}
      {% assign overviews = null | sort %}
      
      {% assign objects = null | sort %}

      {% paginate collections['audiobooks'].products by 1000 %}
        {% comment %}
          Loop over all products as this is the only thing that can paginate 1000
          use handle to audiobook MO instead of product (doesnt have all other objects but mo does)
          use object_type to get MOs in question from there      

            
         {% endcomment %}

        {% for product in collections['audiobooks'].products  %}
          {% assign audiobook = product.metafields.book['audiobook'].value  %}
          {% assign audiobook_as_array = audiobook | sort  %}
          {% assign audiobooks = audiobooks | concat: audiobook_as_array  %}
          
          {% assign author = product.metafields.book['authors'].value  %}
          {% assign author_as_array = author | sort  %}
          {% assign authors = authors | concat: author_as_array  %}

          {% assign narrator = product.metafields.book['narrators'].value  %}
          {% assign narrator_as_array = narrator | sort  %}
          {% assign narrators = narrators | concat: narrator_as_array  %}
          
          {% assign publisher = product.metafields.book['publisher'].value  %}
          {% assign publisher_as_array = publisher | sort  %}
          {% assign publishers = narrators | concat: publisher_as_array  %}

          {% assign review = product.metafields.book['review'].value  %}
          {% assign review_as_array = review | sort  %}
          {% assign reviews = reviews | concat: review_as_array  %}

          {%- if audiobook.audiogramme.value -%}
            {% assign audiogramme_as_array = audiobook.audiogramme.value | sort  %}
            {% assign audiogrammes = audiogrammes | concat: audiogramme_as_array  %}
          {%- endif -%}

        {% endfor %}

        {% assign authors = authors | uniq | sort: 'name' %}
        {% assign publishers = publishers | uniq | sort: 'name' %}
        {% assign narrators = narrators | uniq | sort: 'name' %}
        {% assign audiogrammes = audiogrammes | uniq | sort: 'name' %}
        {% assign reviews = reviews | uniq | sort: 'name' %}

      {% endpaginate %}

      {% comment %}
        These ones wont hit the 50 limit in pagination any time soon so can access directly         
      {% endcomment %}
      {% assign series = shop.metaobjects.series.values %}
      {% assign overviews = shop.metaobjects.overview.values %}
      {% assign characters = shop.metaobjects.character.values %}
      {% assign publishers = shop.metaobjects.publisher.values %}

      {% comment %}
        Now use the array of audiobook metaobjects
        either the object itself or a field containing the metaobject in question
      {% endcomment %}

      {% liquid 
        case object_type
          when 'authors'
            assign objects = authors 
          when 'narrators'
            assign objects = narrators 
          when 'audiobooks'
            assign objects = audiobooks 
          when 'audiogrammes' 
            assign objects = audiogrammes
          when 'series' 
            assign objects = series
          when 'overviews' 
            assign objects = overviews
          when 'characters' 
            assign objects = characters
          when 'publishers' 
            assign objects = publishers
        endcase

      %}

      <ul class="object-list">
        {% for object in objects %}
          {% if object.name != blank or object.title != blank %}
            {% assign product = object.product.value  %}
            {% assign review = reviews[product.handle] %}
            {% assign image = nil %}
            <li class="object-item">
              <div class="object-image">{{product.value}}
                {% if product.featured_image %}
                  {% assign image = product.featured_image %}
                {% elsif object.image %}
                  {% assign image = object.image %}
                {% elsif object.logo %}
                  {% assign image = object.logo %}
                {% elsif object.photos %}
                  {% assign image = object.photos.value | first %}
                {% elsif object.product %}
                  {% assign image = object.product.value.featured_image | first %}
                {% endif %}

                 {% render 'person-avatar',
                        metaobject: object,
                        radius: section.settings.radius,
                        max_width: section.settings.max_width,
                        avatar_bg_color: section.settings.avatar_bg_color,
                        avatar_display: section.settings.avatar_display,
                        initials_color: section.settings.initials_color,
                        initials_font_size: section.settings.initials_font_size
                    %}
                
                
              </div>
              <div class="object-text">
                {% case object_type %}

                  {% when 'audiobooks' %}
                    <div class="object-title">
                      <b>{{ object.title.value | link_to: object.system.url, class: object_type }}</b>
                      {% if review %}
                        ({{ 'read the review' | link_to: review.system.url, class: 'link review' }})
                      {% endif %}
                    </div>
                    {% if object.product.value.metafields.book.authors.value %}
                      <div class="object-authors-narrators">
                        Written by: 
                        {% for author in object.product.value.metafields.book.authors.value %} 
                          {{ author.name | link_to: author.system.url, class: 'author link'}}{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                      </div>
                    {% endif %}
                    {% if object.product.value.metafields.book.narrators.value %}
                      <div class="object-authors-narrators object-description">
                        Narrated by: 
                        {% for narrator in object.product.value.metafields.book.narrators.value %} 
                          {{ narrator.name | link_to: narrator.system.url, class: 'narrator link' }}{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                      </div>
                    {% endif %}

                  {% else %}
                    {% assign class = object_type | append: ' link' %}
                    <div class="object-title">
                    {{ object.name | link_to: object.system.url, class: class}} 
                    {%- if object.collection.value -%}
                      ({{ 'view collection' | link_to: object.collection.value.url, class: 'link' }} )
                    {%- endif -%}
                    </div>
                    {% if object.description %}
                      <div class="object-description">
                        {{ object.description | metafield_tag | truncate: 170 }}
                      </div>
                    {% endif %}
                {% endcase %}
              </div>
            </li>
          {% endif %}  
        {% endfor %}
      </ul>

    </div>
  </div>
</div>



<script type="application/ld+json">

{%- assign title = page.metafields.global.title_tag | default: page.title -%}

  {
    "@context": "http://schema.org",
    "@type": "CollectionPage",
    {% if collection.description != blank %}
      "description": {{ collection.description | strip_html | json }},
    {% endif %}

    "name": {{ title | json }},
    "url": "{{ shop.url }}{{ collection.url }}",

    "mainEntity" : {
      "@type": "ItemList",
      "itemListElement": [
        {%- for object in objects -%}
          {%- case object_type -%}

            {%- when 'audiobook' -%}
            {%- else -%}
              {
                "@type": "ListItem",
                "position": {{ forloop.index }},
                "item": {
                  "@type": "{{object_type}}",
                  "@id":  "{{ shop.url }}{{ product.url }}",
                  "url": "{{ shop.url }}{{ product.url }}#audiobook",
                  "name": {{ object.title | json }},
                  "description": "{{ product.title }} as a physical audiobook"
                }
              }{%- unless forloop.last -%},{%- endunless -%}
              
          {%- endcase -%}
        {%- endfor -%}
      ]
    }
  }
  
</script>

{% schema %}
{
  "name": "Metaobjects list",
  "class": "shopify-section--logo-list",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Metaobjects",
      "info": "Paginated list of metaobjects."
    },
    {
      "type": "range",
      "id": "page_size",
      "label": "Page size",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 25
    },
    {
      "type": "select",
      "id": "object_type",
      "label": "Object type",
      "options": [
        {
          "value": "audiobooks",
          "label": "Audiobooks"
        },
        {
          "value": "authors",
          "label": "Authors"
        },
        {
          "value": "narrators",
          "label": "Narrators"
        },
        {
          "value": "characters",
          "label": "Characters"
        },
        {
          "value": "publishers",
          "label": "Publishers"
        },
        {
          "value": "overviews",
          "label": "Overviews"
        },
        {
          "value": "audiogrammes",
          "label": "Audiogrammes"
        },
        {
          "value": "series",
          "label": "Series"
        }
      ],
      "info": "Choose a metaobject to paginate over",
      "default": "authors"
    },
    {
      "type": "radio",
      "id": "avatar_display",
      "label": "Avatar display style",
      "default": "image",
      "options": [
        { "value": "image", "label": "Image" },
        { "value": "initials", "label": "Initials" },
        { "value": "placeholder", "label": "Placeholder" }
      ]
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 100,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Maximum width",
      "default": 200
    },
    {
      "type": "range",
      "id": "radius",
      "min": 0,
      "max": 50,
      "step": 10,
      "unit": "%",
      "label": "Image radius",
      "default": 30
    },
    {
      "type": "range",
      "id": "initials_font_size",
      "label": "Initials font size",
      "min": 24,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 72
    },
    {
      "type": "color",
      "id": "initials_color",
      "label": "Initials color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "avatar_bg_color",
      "label": "Initials background",
      "default": "#ffffff"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Metaobjects list",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}

