<div class="container">
  <div class="page">
    <div class="metaobjects index-list">
      {% paginate shop.metaobjects[section.settings.object_type].values  by section.settings.page_size %}
        <ul>
          {% for metaobject in shop.metaobjects[section.settings.object_type].values %}
            <li>
            {% case section.settings.object_type %}
              {% when 'audiobook' %}
                <b>{{ metaobject.title.value | link_to: metaobject.system.url, class: section.settings.object_type}}</b>

                (written by : {% for author in metaobject.product.value.metafields.book.authors.value %} 
                  {{ author.name | link_to: narrator.system.url, class: narrator.system.handle }}{% unless forloop.last %}, {% endunless %}
                {% endfor %} | 
                narrated by : {% for narrator in metaobject.product.value.metafields.book.narrators.value %} 
                  {{ narrator.name | link_to: narrator.system.url, class: narrator.system.handle }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
                )
               

              {% else %}    
                {{ metaobject.name.value | link_to: metaobject.system.url, class: section.settings.object_type}}
            {% endcase %}
            </li>
          {% endfor %}
        </ul>
        {{- paginate | default_pagination -}}

      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Metaobjects list",
  "class": "shopify-section--logo-list",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Metaobjects",
      "info": "Paginated list of metaobjects."
    },
    {
      "type": "range",
      "id": "page_size",
      "label": "Page size",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 25
    },
    {
      "type": "select",
      "id": "object_type",
      "label": "Object type",
      "options": [
        {
          "value": "audiobook",
          "label": "Audiobooks"
        },
        {
          "value": "authors",
          "label": "Authors"
        },
        {
          "value": "narrators",
          "label": "Narrators"
        },
        {
          "value": "characters",
          "label": "Characters"
        },
        {
          "value": "publisher",
          "label": "Publishers"
        }
      ],
      "info": "Choose a metaobject to paginate over",
      "default": "authors"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Metaobjects list",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}

