{%- render 'section-spacing-collapsing' -%}

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
CSS
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} {
    --refer-a-friend-gap: {% if section.settings.spacing == 'none' %}0{% else %}var(--grid-gutter){% endif %};
    --refer-a-friend-item-grid-template: "media" "content" / auto;
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      --refer-a-friend-gap: {% if section.settings.spacing == 'none' %}0{% elsif section.settings.spacing == 'small' %}var(--spacing-6){% elsif section.settings.spacing == 'medium' %}var(--spacing-12){% else %}var(--spacing-18){% endif %};
    }
  }

  {%- for block in section.blocks -%}
    {%- assign media_ratio = block.settings.media_width | divided_by: 50.0 -%}
    {%- assign content_ratio = 2.0 | minus: media_ratio -%}

    #block-{{ section.id }}-{{ block.id }} {
      --refer-a-friend-item-icon-width: {{ block.settings.icon_width }}px;
    }

    @media screen and (min-width: 1000px) {
      #block-{{ section.id }}-{{ block.id }} {
        --refer-a-friend-item-grid-template: {% if block.settings.media_position == 'start' %}"media content" / minmax(0, {{ media_ratio }}fr) minmax(0, {{ content_ratio }}fr){% else %}"content media" / minmax(0, {{ content_ratio }}fr) minmax(0, {{ media_ratio }}fr){% endif %};
      }
    }
  {%- endfor -%}


  .section .refer-a-friend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Adjust the gap as needed */
  }

  .section .refer-a-friend__media {
    /* Styles for the media div */
  }

  .section .refer-a-friend__blocks {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap as needed */
  }

  .section .refer-a-friend__blocks .block {
    /* Styles for each block div */
  }
  @media (max-width: 700px) {
    .section .refer-a-friend {
      grid-template-columns: 1fr;
    }
  }
</style>

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
<div {% render 'section-properties' %}>
  <div class="refer-a-friend__container {% if section.settings.spacing == 'none' %}{% if section.settings.full_width %}full-bleed{% else %}rounded{% endif %}{% endif %}">
    
    <div id="block-{{ section.id }}-{{ block.id }}" class="" {{ block.shopify_attributes }}>
      <div class="refer-a-friend">
        <div class="refer-a-friend__media">
          {%- if section.settings.image != blank -%}
            {%- assign width_ratio = 100.0 | divided_by: section.settings.media_width -%}
            {%- assign maximum_image_width = settings.page_width | divided_by: width_ratio -%}

            {%- capture sizes -%}(max-width: 999px) 100vw, min({{ maximum_image_width | ceil }}px, {{ section.settings.media_width }}vw){% endcapture %}

            {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' -}}
          {%- else -%}
            {{- 'image' | placeholder_svg_tag: 'aspect-short placeholder' -}}
          {%- endif -%}
        </div>
        <div class="refer-a-friend__blocks">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'separator' -%}
                <hr class="product-info__separator" {{ block.shopify_attributes }}>

              {% when 'title' %}
                {% assign title_tag = block.settings.title_tag %}
                <{{ title_tag }}>{{ block.settings.title_text }}</{{ title_tag }}>
              
              {%- when 'text' -%}
                {%- if block.settings.text != blank -%}
                  <div class="product-info__text" {{ block.shopify_attributes }}>
                    <div class="prose">
                      {{- block.settings.text -}}
                    </div>
                  </div>
                {%- endif -%}

              {%- when 'collapsible_text' -%}
                {%- if block.settings.title != blank and block.settings.content != blank or block.settings.page.content != blank -%}
                  {%- capture bundle_products_content -%}
                    {%- for product in product.metafields.bundles.products.value -%}
                        {{ product.title | link_to: product.url }}{% unless forloop.last %} | {% endunless %}
                      {%- endfor -%}
                  {%- endcapture -%}
                  {%- capture bundle_products_content_x -%}
                    <ul>
                      {%- for product in product.metafields.bundles.products.value -%}
                        {%- assign blurb =  product.metafields.book.audiobook.value.short_blurb | default: product.metafields.book.audiobook.value.page_description | metafield_tag -%}
                        <li>{{ product.title | link_to: product.url }} : {{ blurb | truncate: 300 }}</li>
                      {%- endfor -%}
                    </ul>
                  {%- endcapture -%}
                  {%- capture accordion_content -%}
                    <div class="prose">
                      {{ block.settings.page.content | default: block.settings.content }}
                    </div>
                  {%- endcapture -%}
                  {%- if block.settings.bundle_products -%}
                    {%- assign accordion_content = accordion_content | replace: '[[bp]]', bundle_products_content | replace: '[[bpx]]', bundle_products_content_x -%}
                  {%- endif -%}
                  {%- render 'accordion', title: block.settings.title, content: accordion_content, class: 'product-info__accordion', block: block -%}
                {%- endif -%}

              {%- when 'button' -%}
                {%- if block.settings.text != blank -%}
                  <div class="product-info__button" {{ block.shopify_attributes }}>
                    {%- render 'button', content: block.settings.text, href: block.settings.link, size: block.settings.size, style: block.settings.style, stretch: block.settings.stretch, background: block.settings.background, text_color: block.settings.text_color -%}
                  </div>
                {%- endif -%}

              {%- when 'liquid' -%}
                {%- if block.settings.liquid != blank -%}
                  <div class="product-info__liquid" {{ block.shopify_attributes }}>
                    {{ block.settings.liquid }}
                  </div>
                {%- endif -%}

              {%- when 'share_buttons' -%}
                <div class="product-form__share {% if block.settings.alignment == 'center' %}justify-self-center{% elsif block.settings.alignment == 'end' %}justify-self-end{% endif %}" {{ block.shopify_attributes }}>
                  <div class="product-info__share-buttons">
                    <div class="share-buttons">
                      <span class="text-subdued">{{- 'general.social.share' | t -}}</span>

                      <ul class="h-stack" role="list">
                        <li><a href="{% render 'share-link', host: 'facebook', title: product.title, description: product.description, url: product.url %}" class="share-buttons__item" aria-label="{{ 'general.social.share_on' | t: social_media: 'Facebook' }}">{%- render 'icon' with 'facebook', width: 20, height: 20 -%}</a></li>
                        <li><a href="{% render 'share-link', host: 'twitter', title: product.title, description: product.description, url: product.url %}" class="share-buttons__item" aria-label="{{ 'general.social.share_on' | t: social_media: 'Twitter' }}">{%- render 'icon' with 'twitter', width: 20, height: 20 -%}</a></li>
                        <li><a href="{% render 'share-link', host: 'pinterest', title: product.title, description: product.description, url: product.url %}" class="share-buttons__item" aria-label="{{ 'general.social.share_on' | t: social_media: 'Pinterest' }}">{%- render 'icon' with 'pinterest', width: 20, height: 20 -%}</a></li>
                        <li><a href="{% render 'share-link', host: 'email', title: product.title, description: product.description, url: product.url %}" class="share-buttons__item" aria-label="{{ 'general.social.share_email' | t }}">{%- render 'icon' with 'email' -%}</a></li>
                      </ul>
                    </div>
                  </div>

                  <button is="share-button" class="product-info__native-share">
                    {%- render 'icon' with 'share' -%} {{- 'general.social.share' | t -}}
                  </button>
                </div>

              

            {%- endcase -%}
          {%- endfor -%}
      </div>
    </div>
    
  </div>
</div>

{% schema %}
{
  "name": "Refer a friend",
  "class": "shopify-section--refer-a-friend",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "info": "Only has effect when spacing is set to none.",
      "default": false
    },
    {
      "type": "select",
      "id": "spacing",
      "label": "Spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },    
    {
      "type": "separator",
      "name": "Separator"
    },
    {
      "type": "title",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title_text",
          "label": "Tite Text",
          "default": "Refer a Friend"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title Tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            }
          ],
          "default": "h1"
        }
      ]
    },    
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share some content to your customers about your products.</p>"
        }
      ]
    },
    {
      "type": "collapsible_text",
      "name": "Collapsible text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Share some content to your customers about your products.</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page",
          "info": "Replaces inline content if specified."
        }
      ]
    },
    
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Create link to your contact page, external marketplace..."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Button"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "X-Large"
            }
          ],
          "default": "xl"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            }
          ],
          "default": "fill"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch",
          "default": true
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "share_buttons",
      "name": "Share buttons",
      "settings": [
        {
          "type": "paragraph",
          "content": "To improve user experience and performance, native share buttons are used when supported."
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name": "Refer a friend",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}
